<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="slideshow">
        <img *ngFor="let image of images; let i = index" [src]="'' + image" [alt]="'Psa-login' + (i + 1)"
          [class.active]="i === currentIndex">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg"> {{"Reset Password" | translate}} </h2>
          <select (change)="setLanguage($event)">
            <option *ngFor="let item of listLang" [value]="item.lang">
              {{item.text}}
            </option>
          </select>
          <p class="auth-signup-text text-muted">{{"Let Us Help You" | translate}}</p>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <span class="error-subheader2 p-t-20 p-b-15">
                  {{"Enter your registered email address." | translate}}
                </span>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{ 'Email' | translate }}</mat-label>
                  <input matInput formControlName="email" required>
                  <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>mail</mat-icon>
                  <mat-error *ngIf="authForm.get('email')?.hasError('required') || authForm.get('email')?.touched">
                    {{"Please enter a valid email address" | translate}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="container-auth-form-btn mt-1">
              <button mat-raised-button color="primary" class="auth-form-btn" [disabled]="!authForm.valid "
                type="submit">
                {{"Reset My Password" | translate}}
              </button>
            </div>
            <div class="w-full p-t-25 text-center">
              <div>
                <a routerLink="/authentication/signin" class="txt1">
                  {{"Login?" | translate}}
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
