<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>Certificates</h2>
                            </div>
                            <div class="col-md-8">
                                <div class="d-grid gap-4 d-md-flex">
                                <button mat-raised-button type="button" class="preview" *ngIf="!previewImage" (click)="openPreview()">Preview</button>
                                <button mat-raised-button type="button" class="delete" *ngIf="!previewImage">Delete</button>
                                    <div class="export-button m-l-10" matTooltip="PDF">
                                      <img src="assets/pdf (1).svg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                       
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-md-4 container" *ngFor="let card of imageData ; let i=index" >
                                <div class="cards" [ngClass]="{'highlight': currentIndex === i}">
                                    <img [src]="card.imageUrl" class="card-image" alt="Card Image"
                                        (click)=" onPreview(i)" >
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="showMask" class="lightbox">
                        <div class="d-flex justify-content-center align-items-center w-100 mt-5 ms-5">
                            <img class="inner " [src]="currentlightBoxImage.imageUrl" />
                            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24"
                                style="fill: rgba(0, 0, 0, 1);">
                                <path
                                    d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
                                    (click)="close()"></path>
            
                            </svg>
                        </div>
                        <div class="close-container">
                            <span class="close-mark" (click)="close()">X</span>
                        </div>
            
                    </div>
            
                    <!-- <mat-paginator class="paginator rounded-5" #paginator [length]="totalItems"
                            (page)="pageSizeChange($event)" [pageSizeOptions]="pageSizeArr"
                            aria-label="select pagination option">
                        </mat-paginator> -->
                </div>
            </div>
        </div>
    </div>
</section>