.container{
    display: flex;
    flex-wrap: wrap;
}
.cards{
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 285px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 12px;
}
.card-image {
    max-width: 100%;
    height: auto;
  }
  .preview{
    width: 100px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    /* margin-top: 10px; */
    /* margin-right: 5px; */
    border-radius: 5px;
    border: 1px solid #526D82;
    background-color: white;
    color: #526D82;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.delete{
    width: 100px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 25px;
    /* margin-top: 10px; */
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #526D82;
    background-color: white;
    color: #526D82;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.close-container{
    position: relative;
 }
 .close-mark{
     position: absolute;
     margin-top:-212px;
     margin-right: 71px;
     top: 10px;
     right: 10px;
     color: #fff;
     font-size: 25px;
     font-weight: bold;
     cursor: pointer;
 }
 .highlight{ 
    box-shadow: 5px 5px 5px 5px rgb(98, 97, 97);
    cursor: pointer;
 }
 .lightbox {
    display: flex ;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .60);
.inner {
    width: 55%;
    height: 55%;
    border:1px das #eee;
    border-radius: 20px;
    padding: 62px;
    background: #fff;
}

} 

.bg :hover {
    box-shadow: 1px 1px 5px 5px #888888;
   
}