<section class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
      <div class="row mt-5 ml-0 mr-0">
        <div class="col-md-4">
          <div class="card border-apply" >
            <div class="m-b-20">
              <div class="contact-grid">
                <div class="profile-header">
                  <img src="assets/images/user/usrbig1.jpg" class="img" alt="">
                </div>
                <div class="user-name">Angelica Ramos</div>
                <div class="name-center">Science</div>
                <div>
                  <p>
                    45, Krishna Tower, Near Bus Stop, Satellite,
                    <br />Ahmedabad
                  </p>
                </div>
                <div class="profile-userbuttons">
                  <button mat-flat-button color="primary">Read More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-apply">
            <div class="m-b-20">
              <div class="contact-grid">
                <div class="profile-header">
                  <img src="assets/images/user/usrbig2.jpg" class="img" alt="">
                </div>
                <div class="user-name">Jayesh Patel</div>
                <div class="name-center">Mechanical</div>
                <p>
                  A-103, shyam gokul flats, Mahatma Road
                  <br />Mumbai
                </p>
                <div class="profile-userbuttons">
                  <button mat-flat-button color="primary">Read More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-apply">
            <div class="m-b-20">
              <div class="contact-grid">
                <div class="profile-header">
                  <img src="assets/images/user/usrbig2.jpg" class="img" alt="">
                </div>
                <div class="user-name">Megha Trivedi</div>
                  <div class="name-center">Computer</div>
                <p>
                  456, Estern evenue, Courtage area,
                  <br />New York
                </p>
                <div class="profile-userbuttons">
                  <button mat-flat-button color="primary">Read More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>