.latest-posts-img{
    width: 100%;
    height: 100px;
    margin: -20px 5px 30px;
    border-radius: 10px;
}
svg {
    position: absolute;
    fill: #000;
    background-color: #d3cdcd;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
// modal-box styling
::ng-deep .mat-mdc-menu-content {
        margin: 0;
        padding: 8px 20px;
        border-radius: 10px;
        list-style-type: none;
       
}
// modal-box curving
::ng-deep .mat-mdc-menu-panel{
    --mat-menu-container-shape: 12px;
}
.menu-text{
    padding-left: 20px;
}