<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="breadscrum.title"
        [items]="breadscrum.items"
        [active_item]="breadscrum.active"
      >
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>{{edit ? 'Edit Student':'Add Student'}}</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="stdForm" >
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="name" required />
                    <mat-error
                      *ngIf="stdForm.get('name')?.hasError('required')"
                    >
                      First name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="last_name" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Roll No</mat-label>
                    <input matInput formControlName="rollNo" />
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required>
                      <mat-option [value]="'male'"> Male </mat-option>
                      <mat-option [value]="'female'"> Female </mat-option>
                      <mat-option [value]="'other'"> Other </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="stdForm.get('gender')?.hasError('required')"
                    >
                      Gender is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required />
                    <mat-error
                      *ngIf="
                        stdForm.get('email')?.hasError('email') &&
                        stdForm.get('email')?.touched
                      "
                    >
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Mobile</mat-label>
                    <input
                      matInput
                      formControlName="mobile"
                      type="number"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Password</mat-label>
                    <input
                      matInput
                      formControlName="password"
                      type="password"
                      required
                    />
                    <mat-error
                      *ngIf="stdForm.get('password')?.hasError('required')"
                    >
                      password is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Re-Enter Password</mat-label>
                    <input
                      matInput
                      formControlName="conformPassword"
                      type="password"
                      required
                    />
                    <mat-error
                      *ngIf="
                        stdForm.get('conformPassword')?.hasError('required')
                      "
                    >
                      Re-Enter password is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Registration Date</mat-label>
                    <input
                      matInput
                      [matDatepicker]="rpicker"
                      formControlName="joiningDate"
                      required
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="rpicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #rpicker></mat-datepicker>
                    <mat-error
                      *ngIf="stdForm.get('joiningDate')?.hasError('required')"
                    >
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Select Department</mat-label>
                    <mat-select formControlName="department" required >
                      <mat-option [value]="dept.department" *ngFor="let dept of dept">
                       {{dept.department }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="stdForm.get('department')?.hasError('required')"
                    >
                      Select Any Department
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Parents name</mat-label>
                    <input matInput formControlName="parentsName" required />
                    <mat-error
                      *ngIf="stdForm.get('parentsName')?.hasError('required')"
                    >
                      Parents name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Parents Mobile Number</mat-label>
                    <input
                      matInput
                      formControlName="parentsPhone"
                      type="number"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Date Of Birth</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      formControlName="dob"
                      required
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="stdForm.get('dob')?.hasError('required')">
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Blood Group</mat-label>
                    <input matInput formControlName="blood_group" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Education</mat-label>
                    <textarea matInput formControlName="qualification"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="address"></textarea>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                  <label>Upload</label>
                  <div class="file-drop-area">
                    <div class="file">
                      <!-- <button mat-raised-button color="primary">Choose file</button> -->
                      <img src="/assets/add-image-icon.svg" />
                      <h5>
                        {{ fileName ? fileName : "Drag and Drop File Here" }}
                      </h5>
                      <input
                        formControlName="avatar"
                        (change)="onFileUpload($event)"
                        class="file-input"
                        type="file"
                      />
                    </div>
                  </div>
                  <!-- <div class="file-drop-area">
                    <button mat-raised-button color="primary">Choose file</button>
                    <span>{{fileName ? fileName : ' or drag and drop file here' }}</span>
                    <input formControlName="avatar" (change)="onFileUpload($event)" class="file-input" type="file">
                  </div> -->
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button *ngIf="!edit"
                    class="btn-space"
                    mat-raised-button
                    color="primary"  (click)="onSubmit()"
                  >
                    Submit
                  </button>
                  <button *ngIf="edit"
                  class="btn-space"
                  mat-raised-button
                  color="primary"
                  (click)="update()"
                >
                  update
                </button>
                  <button type="button" mat-raised-button color="warn" (click)="cancel()">
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
