.mat-stepper-horizontal {
  margin-top: 8px;
}

::ng-deep.mat-stepper-label-position-bottom .mat-horizontal-stepper-header-container {
  width: fit-content;
  margin: 0 auto;
}
::ng-deep .mat-stepper-horizontal-line {
flex: none !important;
}
label{
font-size: 20px;
font-weight: 500;
}
.thumbnail-img{
  height:250px;
  width:600px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 12px;
}
#back {
  margin-left: 15px;
  margin-bottom: 20px;
  background: #FFF;
  border: 1px solid #000000;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  color: black;
  font-weight: 700;
}
#next {
  margin-left: 85px;
  margin-bottom: 20px;
  background: #6777ef;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  color: #FFF;
  font-weight: 700;
}
@media only screen and (max-width: 912px) and (min-width: 280px) {
  #next,#submit {
    margin-left: 15px;
  }
}
@media only screen and (max-width: 912px) and (min-width: 280px) {
  #save {
    margin-left: 15px;
  }
}

#submit {
  margin-left: -10px;
  margin-bottom: 20px;
  background: #6777ef;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  color: #FFF;
  font-weight: 700;
}
#save {
  margin-left: -10px;
  margin-bottom: 20px;
  background: #6777ef;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  color: #FFF;
  font-weight: 700;
}

#cancel {
  margin-left: 50px;
  /* margin-bottom: 20px; */
  // background: #FFF;
  border: 1px solid #000000;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  // color: black;
  font-weight: 700;
}

::ng-deep .example-full-width .mdc-text-field--outlined{
  --mdc-outlined-text-field-container-shape : 12px;
  font-style: italic;
}

.mandatory{
  color: red;
}

// mat-stepper-icon & horizontal styling
::ng-deep.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before { 
  border-top-width: 3px!important;
  border-top-color: #6777ef;
}

::ng-deep.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after {
  border-top-width: 3px!important;
  border-top-color: #6777ef;
}
::ng-deep.mat-stepper-horizontal-line {
  border-top-width: 3px!important;
  border-top-color: #6777ef;
}
::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #6777ef; 
}

// ckeditor styling
:host ::ng-deep .ck-editor__editable_inline {
  --mdc-outlined-text-field-container-shape : 12px;
  min-height: 150px;
}
::ng-deep .ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
  border-radius: var(--ck-border-radius);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
::ng-deep .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar, .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
  border-radius: var(--ck-border-radius);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

//file-upload styling
.file-drop-area {
  border: 1px dashed #7c7db3;
  border-radius: 15px;
  position: relative;
  max-width: 100%;
  margin-top: 5px;
  padding: 26px 20px 30px;
  transition: 0.2s;
}
.file-drop-area button{
  border-radius: 12px;
}
.file{
 text-align: center;
}
.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.file-msg {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 500;
  // color: #5b5bff;
}
h5{
  padding-top: 10px;
}

#editor {
  font-size: 16px;
  font-style: italic;
  padding: 10px;
}