<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <!-- <h2>Create Course</h2> -->

          </div>

          <mat-horizontal-stepper linear labelPosition="bottom" #stepper>
            <mat-step [stepControl]="firstFormGroup" completed="false">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>{{viewUrl ? 'View Course' : editUrl ? 'Edit Course' : 'Course Create'}}</ng-template>
                <div class="body" >
                  <!-- <form class="m-4" [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()"> -->
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <label>Course Name <span class="mandatory">&nbsp;*</span></label>
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <!-- <mat-label>Course Name</mat-label> -->

                          <input matInput formControlName="title" placeholder="Enter Course Name" [readonly]="isInputReadonly()" required>
                          <mat-error *ngIf="firstFormGroup.get('title')?.hasError('required')">
                            Course name is required
                          </mat-error>
                          <mat-error  *ngIf="firstFormGroup.get('title')?.hasError('pattern') && firstFormGroup.get('title')?.touched">
                            Enter a valid Course name
                           </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <label>Course Code <span class="mandatory">&nbsp;*</span></label>
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <input matInput formControlName="courseCode"  placeholder="Enter Course Code" [readonly]="isInputReadonly()" required>
                          <mat-error *ngIf="firstFormGroup.get('courseCode')?.hasError('required')">
                            Course code is required
                          </mat-error>
                          <mat-error  *ngIf="firstFormGroup.get('courseCode')?.hasError('pattern') && firstFormGroup.get('courseCode')?.touched">
                            Enter a valid Course code
                           </mat-error>
                        </mat-form-field>
                        
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                          <label>Main Category <span class="mandatory">&nbsp;*</span></label>
                          <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-select formControlName="main_category" required (selectionChange)="mainCategoryChange()" >
                              <mat-option *ngFor="let item of mainCategories" [value]="item.id" [disabled]="viewUrl == true">
                                {{item.category_name}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="
                        firstFormGroup.get('main_category')?.hasError('required') ||
                        firstFormGroup.get('main_category')?.touched
                        ">
                        Select Main Category
                      </mat-error>
                          </mat-form-field>
                         
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <label>Sub Category <span class="mandatory">&nbsp;*</span></label>
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-select formControlName="sub_category" required> 
                            <mat-option *ngFor="let item of subCategories" [value]="item.id" [disabled]="viewUrl == true">
                              {{item.category_name}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="
                          firstFormGroup.get('sub_category')?.hasError('required') ||
                          firstFormGroup.get('sub_category')?.touched
                          ">
                          Select Sub Category
                        </mat-error>
                        </mat-form-field> 
                    </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                        <label>Days</label>
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <input matInput type="number" formControlName="course_duration_in_days" [readonly]="isInputReadonly()"  placeholder="Enter Days">
                          <!-- <mat-error *ngIf="firstFormGroup.get('course_duration_in_days')?.hasError('required')">
                           Enter Days
                          </mat-error> -->
                          <mat-error  *ngIf="firstFormGroup.get('course_duration_in_days')?.hasError('min') && firstFormGroup.get('course_duration_in_days')?.touched">
                            Enter Minimum 1 day
                           </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                        <label>Training Hours</label>
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <input matInput formControlName="training_hours" type="number" [readonly]="isInputReadonly()" placeholder="Enter Training Days">
                          <!-- <mat-error *ngIf="firstFormGroup.get('training_hours')?.hasError('required')">
                            Enter Training Hours
                           </mat-error> -->
                           <mat-error  *ngIf="firstFormGroup.get('training_hours')?.hasError('pattern') && firstFormGroup.get('training_hours')?.touched">
                             Enter Valid Digits
                            </mat-error>
                        </mat-form-field>
                        
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                        <label>Fees</label>
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <input matInput formControlName="fee" type="number" [readonly]="isInputReadonly()" placeholder="Enter Fees">
                          <!-- <mat-error *ngIf="firstFormGroup.get('fee')?.hasError('required')">
                            Enter Days
                           </mat-error> -->
                           <mat-error  *ngIf="firstFormGroup.get('fee')?.hasError('pattern') && firstFormGroup.get('fee')?.touched">
                             Enter Valid Digits
                            </mat-error>
                        </mat-form-field>
                       
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                        <label>Currency</label>
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-select formControlName="currency_code">
                            <mat-option value="USD" [disabled]="viewUrl == true">USD</mat-option>
                            <mat-option value="SGD" [disabled]="viewUrl == true">SGD</mat-option>
                            <mat-option value="NZD" [disabled]="viewUrl == true">NZD</mat-option>
                            <mat-option value="YEN" [disabled]="viewUrl == true">YEN</mat-option>
                            <mat-option value="GBP" [disabled]="viewUrl == true">GBP</mat-option>
                            <mat-option value="KWN" [disabled]="viewUrl == true">KWN</mat-option>
                            <mat-option value="IDR" [disabled]="viewUrl == true">IDR</mat-option>
                            <mat-option value="TWD" [disabled]="viewUrl == true">TWD</mat-option>
                            <mat-option value="MYR" [disabled]="viewUrl == true">MYR</mat-option>
                            <mat-option value="AUD" [disabled]="viewUrl == true">AUD</mat-option>
                          </mat-select>
                          <mat-error *ngIf="
                          firstFormGroup.get('currency_code')?.hasError('required') ||
                          firstFormGroup.get('currency_code')?.touched
                          ">
                          Select Currency
                        </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <label>Skill Connect Code</label>
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <input matInput formControlName="skill_connect_code" [readonly]="isInputReadonly()" placeholder="Enter Skill Connect Code">
                          <!-- <mat-error *ngIf="firstFormGroup.get('skill_connect_code')?.hasError('maxLength')">
                            Enter Days
                           </mat-error> -->
                           <mat-error  *ngIf="firstFormGroup.get('skill_connect_code')?.hasError('pattern') && firstFormGroup.get('skill_connect_code')?.touched">
                             Enter Valid Skill Connect Code
                            </mat-error>
                        </mat-form-field>
                        
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <label>Description</label>
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <input matInput formControlName="course_description" [readonly]="isInputReadonly()" placeholder="Enter Description">
                          <mat-error  *ngIf="firstFormGroup.get('course_description')?.hasError('maxLength') && firstFormGroup.get('course_description')?.touched">
                            Enter Description
                           </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <label>Course Detailed Description</label>
                        <ckeditor [editor]="Editor" id="editor" formControlName="course_detailed_description" ></ckeditor>
                        <!-- <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <ckeditor [editor]="Editor" ></ckeditor>
                          <input matInput formControlName="course_detailed_description" [readonly]="isInputReadonly()">
                          <mat-error  *ngIf="firstFormGroup.get('course_detailed_description')?.hasError('maxLength') && firstFormGroup.get('course_detailed_description')?.touched">
                           
                          Enter Course Detailed Description
                        </mat-error>
                        </mat-form-field> -->
                      </div>

                    </div>
                  <!-- </form> -->
                </div>
                <div class="row">
                  <div class="col-md-9">
                    <button mat-button matStepperPrevious id="back" [routerLink]="['/admin/courses/all-courses']">Back</button>
                  </div>
                  <div class="col-md-2">
                    <button mat-button matStepperNext id="next" class="disableNext"
                    [disabled]="firstFormGroup.get('title')?.invalid || firstFormGroup.get('courseCode')?.invalid || firstFormGroup.get('main_category')?.invalid || firstFormGroup.get('sub_category')?.invalid">Next</button>
                    <!-- [disabled]="firstFormGroup.invalid" -->
                  </div>
                </div>


                <!-- </div> -->
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template  matStepLabel >WBS Code</ng-template>
                <div class="body">
                  <!-- <form class="m-4" [formGroup]="secondFormGroup" (ngSubmit)="onSubmit()"> -->
                    <div class="row">
                      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                        <label>PDU Technical</label>
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <input matInput formControlName="pdu_technical" [readonly]="isInputReadonly()">
                          <mat-error  *ngIf="secondFormGroup.get('pdu_technical')?.hasError('pattern') && secondFormGroup.get('pdu_technical')?.touched">
                           Enter Digits
                        </mat-error>
                        </mat-form-field>
                       
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                        <label>PDU Leadership</label>
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <input matInput formControlName="pdu_leadership" [readonly]="isInputReadonly()">
                          <mat-error  *ngIf="secondFormGroup.get('pdu_leadership')?.hasError('pattern') && secondFormGroup.get('pdu_leadership')?.touched">
                           
                          Enter Digits
                        </mat-error>
                        </mat-form-field>
                       
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                        <label>PDU Startegic</label>
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <input matInput formControlName="pdu_strategic" [readonly]="isInputReadonly()">
                          <mat-error  *ngIf="secondFormGroup.get('pdu_strategic')?.hasError('pattern') && secondFormGroup.get('pdu_strategic')?.touched">
                          Enter Digits
                        </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row" *ngIf=!viewUrl>
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                        <label>Thumbnail</label>
                        <div class="file-drop-area">
                          <div class="file">
                          <button mat-raised-button color="primary">Choose file</button>
                          <span class="file-msg"><h5>{{uploadedImage ? uploadedImage : 'Drag and Drop File Here' }}</h5></span>
                          <input formControlName="image_link" (change)="onFileUpload($event)" [readonly]="isInputReadonly()" class="file-input" type="file">
                          </div>
                        </div>
                        <!-- <app-file-upload formControlName="image_link" (change)="onFileUpload($event)"></app-file-upload> -->
                      </div>
                    </div>
                    <div *ngIf="viewUrl" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                      <label>Thumbnail</label><br>
                      <img *ngIf="uploadedImage"   class="thumbnail-img" src="{{image_link}}" >
                  </div>
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <label>Website Link</label>
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <input matInput formControlName="website_link" placeholder="www" [readonly]="isInputReadonly()">
                          <mat-error  *ngIf="secondFormGroup.get('website_link')?.hasError('pattern') && secondFormGroup.get('website_link')?.touched">
                          Enter Website
                        </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <label>Funding/Grant <span class="mandatory">&nbsp;*</span></label>
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-select formControlName="funding_grant" required>
                            <mat-option *ngFor="let item of fundingGrants" [value]="item.id" [disabled]="viewUrl == true">
                              {{item.grant_type}}
                            </mat-option>

                          </mat-select>
                          <mat-error *ngIf="
                          secondFormGroup.get('funding_grant')?.hasError('required') ||
                          secondFormGroup.get('funding_grant')?.touched
                          ">
                          Select Funding/Grant
                        </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <label>Survey <span class="mandatory">&nbsp;*</span></label>
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-select formControlName="survey" required>
                            <mat-option *ngFor="let item of survey" [value]="item.id" [disabled]="viewUrl == true">
                              {{item.name}}
                            </mat-option>

                          </mat-select>
                          <mat-error *ngIf="
                          secondFormGroup.get('survey')?.hasError('required') ||
                          secondFormGroup.get('survey')?.touched
                          ">
                          Select Survey
                        </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <label>Assign Instructors <span class="mandatory">&nbsp;*</span></label>
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-select formControlName="course_instructor" required>
                            <mat-option *ngFor="let item of instructors" [value]="item.id" [disabled]="viewUrl == true">
                              {{item?.user_id?.name + ' ' + item?.user_id?.last_name}}
                            </mat-option>

                          </mat-select>
                          <mat-error *ngIf="
                          secondFormGroup.get('course_instructor')?.hasError('required') ||
                          secondFormGroup.get('course_instructor')?.touched
                          ">
                          Select Instructor
                        </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <label>Assign Coursekit <span class="mandatory">&nbsp;*</span></label>
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-select formControlName="course_kit" required>
                            <mat-option *ngFor="let item of courseKits" [value]="item.id" [disabled]="viewUrl == true">
                              {{item.name}}
                            </mat-option>

                          </mat-select>
                          <mat-error *ngIf="
                          secondFormGroup.get('course_kit')?.hasError('required') ||
                          secondFormGroup.get('course_kit')?.touched
                          ">
                          Select Course Kit
                        </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <label>Certificates <span class="mandatory">&nbsp;*</span></label>
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-select formControlName="certificates" required>
                            <mat-option *ngFor="let certificate of certificates" [value]="certificate.id" [disabled]="viewUrl == true">
                              {{certificate.title}}
                            </mat-option>

                          </mat-select>
                          <mat-error *ngIf="
                          secondFormGroup.get('certificates')?.hasError('required') ||
                          secondFormGroup.get('certificates')?.touched
                          ">
                          Select Certificate
                        </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <button mat-button matStepperPrevious id="back">Back</button>
                  </div>
                  <div class="col-md-4">
                    <div class="d-grid gap-4 d-md-flex">
                    <button mat-raised-button *ngIf="editUrl || viewUrl" type="button" color="warn" id="cancel" [routerLink]="['/admin/courses/all-courses']">Cancel</button>
                    <button mat-button (click)="submit()" *ngIf="!editUrl  && !viewUrl" id="submit" [attr.data-bs-toggle]="secondFormGroup.valid ? 'modal' : null">Submit</button>
                    <button mat-button *ngIf="editUrl  && !viewUrl" id="save" [attr.data-bs-toggle]="secondFormGroup.valid ? 'modal' : null" (click)="save()"> Save </button>
                    </div>
                  </div>
                </div>
              </form>
            </mat-step>

          </mat-horizontal-stepper>
        </div>
      </div>
    </div>
  </div>
</section>
