label {
    font-size: 20px;
    font-weight: 500;
}

#back {
    // margin-left: 35px;
    margin-bottom: 20px;
    background: #FFF;
    border: 1px solid #000000;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: black;
    font-weight: 700;
}


#submit {
    margin-left: 30px;
    margin-bottom: 20px;
    background: #6777ef;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: #FFF;
    font-weight: 700;
}


::ng-deep .example-full-width .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 12px;
    font-style: italic;
}

.mandatory {
    color: red;
}
svg {
    position: absolute;
    fill: #000;
    background-color: #d3cdcd;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
// modal-box styling
::ng-deep .mat-mdc-menu-content {
        margin: 0;
        padding: 8px 20px;
        border-radius: 10px;
        list-style-type: none;
       
}
// modal-box curving
::ng-deep .mat-mdc-menu-panel{
    --mat-menu-container-shape: 12px;
}
.menu-text{
    padding-left: 20px;
}

.para{
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #FFF;
    width: 90%;
    border: 1px solid #7A7A7A;
    height: fit-content;
}
h3{
    margin-left: 20px;
}
// ckeditor styling
:host ::ng-deep .ck-editor__editable_inline {
    --mdc-outlined-text-field-container-shape : 12px;
    min-height: 150px;
  }
  ::ng-deep .ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
    border-radius: var(--ck-border-radius);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 200px;
  }
  ::ng-deep .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar, .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
    border-radius: var(--ck-border-radius);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  #editor {
    font-size: 16px;
    font-style: italic;
    padding: 10px;
  }