.crt-color{
    width: 70%;
    height: 55px;
    text-align: center;
    border: 1px solid #7A7A7A;
    color: #526D82;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 10px;
  }
.sub{
    width: 80%;
    height: 55px;
    text-align: center;
    border: 1px solid #7A7A7A;
    color: #526D82;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    border-radius: 10px;
  }
::ng-deep .example-full-width .mdc-text-field--outlined{
    --mdc-outlined-text-field-container-shape : 12px;
    font-style: italic;
}

label{
    font-size: 20px;
    font-weight: 500;
}
.mandatory{
     color: red;
}
#back {
    margin-left: -5px;
    margin-bottom: 20px;
    background: #FFF;
    border: 1px solid #000000;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: black;
    font-weight: 700;
  }
  .body{
    margin-left: 40px;
  }
  .cat{
    margin-top: -40px;
  }