
<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header d-flex justify-content-between">
            <h2>Student Banner</h2>
            <div class="d-flex justify-content-end ">
              <div class="m-l-10" matTooltip="ADD BANNER">
                <button mat-mini-fab color="primary" (click)="addBanner()">
                  <mat-icon class="col-white">add</mat-icon>
                </button>
              </div>
              <div class="m-l-10" matTooltip="REFRESH">
                <button mat-mini-fab color="primary" >
                  <mat-icon class="col-white">refresh</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="row" >
              <div class="col-md-4" *ngFor="let banner of bannerList">
                <div class="course-card1 course-card-blog">
                  <div class="course-card-image1">
                    <img class="img" src="{{banner.imagePath}}">
                  </div>
                     <div class="text-center mb-3">
                      <button *ngIf="!banner?.isActivated" mat-icon-button  matTooltip="ACTIVATE" class="tbl-action-btn" (click)="onChange(banner._id,'true')">
                        <app-feather-icons [icon]="'eye'" [class]="'tbl-fav-view'"></app-feather-icons>
                      </button>
                      <button *ngIf="banner?.isActivated"  mat-icon-button matTooltip="DEACTIVATE" class="tbl-action-btn icon-color" (click)="onChange(banner._id,'false')">
                        <i class="material-icons " >do_not_disturb_off</i>
                      </button>
                      <button  mat-icon-button matTooltip="DELETE" class="tbl-action-btn" (click)="removeBannerImage(banner._id)">
                        <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                      </button>
                    </div>
                </div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
