<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>Certificates</h2>
                            </div>
                            <div class="col-md-8">
                                <div class="d-grid gap-4 d-md-flex">
                                    <button mat-raised-button type="button" class="preview" *ngIf="!isPreview" (click)="openPreview()">Preview</button>
                                    <button mat-raised-button type="button" class="delete" *ngIf="!isPreview" >Delete</button>
                                    <div class="export-button m-l-10" matTooltip="PDF">
                                        <img src="assets/pdf (1).svg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="body">
                        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" *ngIf="!isPreview">
                            <mat-tab label="Certificate Designs">
                                <div class="row">
                                    <div class="div" *ngFor="let card of cards" class="browsecard">
                                            <input type="file" id="fileDropRef" (change)="onFileSelected($event)"
                                                name="somename" size="chars" />
                                            <img [src]="card.imageUrl" class="card-image center mt-5" alt="Card Image"
                                                id="upload" style="width: 20%;height: 20%;">
                                            <div class="card-body mx-4">
                                                <h6 class="card-title mt-3">{{ card.title }}
                                                    <span> 
                                                        <label class="mt-1  " for="fileDropRef" style="color: red;padding-left: 70px;">{{
                                                    card.label }}
                                                </label>
                                            </span>
                                                </h6>
                                            </div>
                                        </div>
                                    <div class="col-md-4 card-container" *ngFor="let image of images; let i=index">
                                        <div class="cards" [ngClass]="{'highlight': currentIndex === i}">
                                            <img src="{{image.inputUrl}}" class="card-image" alt="Card Image"
                                                (click)=" onPreview(image.id)">
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Details">
                                <div class="row clearfix">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="card">
                                            <div class="header">
                                                <!-- <h2>Create Course</h2> -->
                                               
                                            </div>
                                            <form [formGroup]="certificateForm">
                                                <div class="body m-4">
                                                    <div class="row">
                                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                            <label>Organization Name</label>
                                                            <mat-form-field class="example-full-width mb-3"
                                                                appearance="outline">
                                                                <input matInput type="text" id="name"
                                                                    formControlName="organizationName"
                                                                    class="form-control" placeholder="Enter Organization Name">
                                                                <!-- <mat-error *ngIf="certificateForm.get('name')?.hasError('required')">
                                                                    Enter Course Name
                                                                </mat-error> -->
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <label>First Name</label>
                                                            <mat-form-field class="example-full-width mb-3"
                                                                appearance="outline">
                                                                <input matInput type="text" id="name"
                                                                    formControlName="firstName" class="form-control"
                                                                    placeholder="Enter First Name">
                                                                <!-- <mat-error *ngIf="certificateForm.get('name')?.hasError('required')">
                                                                    Enter Course Name
                                                                </mat-error> -->
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <label>Last Name</label>
                                                            <mat-form-field class="example-full-width mb-3"
                                                                appearance="outline">
                                                                <input matInput type="text" id="name"
                                                                    formControlName="lastName" class="form-control"
                                                                    placeholder="Enter Last Name">
                                                                <!-- <mat-error *ngIf="certificateForm.get('name')?.hasError('required')">
                                                                    Enter Course Name
                                                                </mat-error> -->
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <label>Course Name</label>
                                                            <mat-form-field class="example-full-width mb-3"
                                                                appearance="outline">
                                                                <!-- <mat-label>Course Name</mat-label> -->

                                                                <input matInput type="text" id="name"
                                                                    formControlName="title" class="form-control"
                                                                    placeholder="Enter Course Name">
                                                                <!-- <mat-error *ngIf="certificateForm.get('name')?.hasError('required')">
                                                            Enter Course Name
                                                        </mat-error> -->
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <label>Course Code</label>
                                                            <mat-form-field class="example-full-width mb-3"
                                                                appearance="outline">
                                                                <!-- <mat-label>Course Name</mat-label> -->

                                                                <input matInput type="text" id="name"
                                                                    formControlName="courseCode" class="form-control"
                                                                    placeholder="Enter Course Code">
                                                                <!-- <mat-error *ngIf="certificateForm.get('name')?.hasError('required')">
                                                            Enter Course Name
                                                        </mat-error> -->
                                                            </mat-form-field>

                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <label>Issue Date</label>
                                                            <mat-form-field class="example-full-width mb-3"
                                                                appearance="outline">
                                                                <!-- <mat-label>Course Name</mat-label> -->
                                                                <input matInput [owlDateTimeTrigger]="date"
                                                                    [owlDateTime]="date" formControlName="issuedDate" />
                                                                <mat-icon matSuffix [owlDateTimeTrigger]="date"
                                                                    class="date-icon">today</mat-icon>
                                                                <owl-date-time #date></owl-date-time>

                                                                <!-- <mat-error *ngIf="courseKitForm.get('startDate')?.hasError('required')">
                                                                    Enter Course Name
                                                                </mat-error> -->
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <label>Signature</label>
                                                            <mat-form-field class="example-full-width mb-3"
                                                                appearance="outline">

                                                                <input matInput type="text" id="name"
                                                                    formControlName="signature" class="form-control"
                                                                    placeholder="Enter Signature">
                                                                <!-- <mat-error *ngIf="certificateForm.get('name')?.hasError('required')">
                                                                    Enter Course Name
                                                                </mat-error> -->
                                                            </mat-form-field>

                                                        </div>
                                                        <!-- </div> -->

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <button mat-raised-button  type="button" color="warn" id="cancel" (click)="cancel()">Cancel</button>
                                                    </div>
                                                    <div class="col-md-4">
                                                      <div class="d-grid gap-4 d-md-flex">
                                                      <button mat-button id="preview" >Preview</button>
                                                      <button mat-button id="submit" (click)="create()"> Create </button>
                                                      </div>
                                                    </div>
                                                  </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <!-- <mat-paginator class="paginator rounded-5" #paginator [length]="totalItems"
                            (page)="pageSizeChange($event)" [pageSizeOptions]="pageSizeArr"
                            aria-label="select pagination option">
                        </mat-paginator> -->
                        </mat-tab-group>
                        <div *ngIf="showMask" class="lightbox">
                            <div class="d-flex justify-content-center align-items-center w-100 mt-5 ms-5 ">
                               
                          <img src="assets/Close-btn.svg" alt="" (click)="close()" />
                       
                                <img class="inner" [src]="currentlightBoxImage.inputUrl" />
                                <svg *ngIf="previewImage" xmlns="http://www.w3.org/2000/svg" width="38"
                                    height="38" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);">
                                    <path
                                        d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
                                        (click)="close()"></path>
                                </svg>
                            </div>
                            <div class="close-container">
                                <span class="close-mark" (click)="close()">X</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>