<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>{{editUrl?'Edit':'Add'}} Department</h2>

          </div>
          <div class="body">
            <form class="m-4" [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Department</mat-label>
                    <input matInput formControlName="department" required>
                    <mat-error *ngIf="departmentForm.get('department')?.hasError('required')">
                       Department is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Head Of Department</mat-label>
                    <input matInput formControlName="hod" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>person</mat-icon>
                    <mat-error *ngIf="departmentForm.get('hod')?.hasError('required')">
                      HOD name required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <input matInput formControlName="mobile">
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>phone</mat-icon>
                    <mat-error *ngIf="departmentForm.get('mobile')?.hasError('required')">
                      Mobile is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>email</mat-icon>
                    <mat-error
                      *ngIf="departmentForm.get('email')?.hasError('required') || departmentForm.get('email')?.touched">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Department Start Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="departmentStartDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="departmentForm.get('departmentStartDate')?.hasError('required')">
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Student Capacity</mat-label>
                    <input matInput formControlName="studentCapacity" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>group</mat-icon>
                    <mat-error *ngIf="departmentForm.get('studentCapacity')?.hasError('required')">
                      Student Capacity is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Details</mat-label>
                    <textarea matInput formControlName="details"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" [disabled]="!departmentForm.valid " mat-raised-button
                    color="primary">Submit</button>
                  <button type="button" mat-raised-button color="warn" [routerLink]="['/admin/departments/all-departments']">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
