label {
    font-size: 20px;
    font-weight: 500;
}

#back {
    margin-left: 35px;
    margin-bottom: 20px;
    background: #FFF;
    border: 1px solid #000000;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: black;
    font-weight: 700;
}


#submit {
    margin-left: 150px;
    margin-bottom: 20px;
    background: #6777ef;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: #FFF;
    font-weight: 700;
}


::ng-deep .example-full-width .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 12px;
    font-style: italic;
}

.mandatory {
    color: red;
}
